[submodule "submodules/claude-thunder"]
	path = submodules/claude-thunder
	url = https://github.com/FallingShrimp/claude-thunder
[submodule "src/articles"]
	path = src/articles
	url = https://github.com/FallingShrimp/articles
